.blob {
    // overflow: hidden;
    position: absolute;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    ;
    background-color: #2F2E2F;
    animation: morph 5s linear infinite;
}

.one {
    width: 21rem;
    height: 30rem;
    bottom: -76px;
    left: -235px;

    &::after {
        content: "";
        position: absolute;
        width: 22rem;
        height: 11rem;
        bottom: -52px;
        z-index: -1;
        right: -85px;
        background-color: #5de3d6;
        border-radius: 68% 56% 70% 28%/42% 42% 26% 48%;
        animation: morph 3.75s linear infinite;
    }
}

.two {
    width: 18rem;
    height: 18rem;
    bottom: -70px;
    right: -150px;
    background-color: #68DFD3;
}

.three {
    width: 80%;
    height: 18rem;
    top: -190px;
    right: -70px;
}

.avatar {
    width: 25rem;
    height: 25rem;
    top: 18%;
    left: 50%;
    background: #8f44fd url(../../assets/imgs/luffy.jpg);
    background-size: cover;
    background-position: center;
}

@keyframes morph {

    0%,
    100% {
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    }

    33% {
        border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
    }

    66% {
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }
}