@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, #094b65, transparent);
        z-index: 10;
    }

    .text {
        position: absolute;
        top: 20px;
        color: #094b65;
        font-size: 10vw;
        text-align: center;
        line-height: 0.55em;
        font-family: 'Rancho', cursive;
        transform: translateY(-50%);

        span {
            font-size: 0.20em;
            letter-spacing: 2px;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;
        }
    }

    button {
        display: inline-block;
        padding: 8px 30px;
        color: #094b65;
        background-color: #fff;
        font-size: 1.2em;
        font-weight: 500;
        letter-spacing: 2px;
        border-radius: 40px;
        transform: translateY(100px);

        transition: 1s;
        box-shadow: 6px 6px 0 black;

        &:hover {
            background-color: #20B2AA;
            transition: 0.5s;
            box-shadow: 10px 10px 0 #FBC638
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}