:root {
    --positionMidProjects: 0%;
}

.ProjectsContainer {
    position: relative;
    height: 120vh;
    width: 100%;

    &::before {
        content: "";
        position: absolute;
        width: 100vw;
        height: 100px;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: black;
        clip-path: polygon(100% 0, 0 0, 30% var(--positionMidProjects));
        position: absolute;
    }
}