:root {
    --positionMidProjects: 0%;
}

.ProjectsContainer {
    position: relative;
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    // align-items: center;
    padding: 100px 0;
    flex-wrap: wrap;

    &::before {
        content: "";
        position: absolute;
        width: 100vw;
        height: 100px;
        top: -1px;
        left: 0;
        z-index: 10;
        background-color: black;
        clip-path: polygon(100% 0, 0 0, 30% var(--positionMidProjects));
        position: absolute;
    }

    .box {
        position: relative;
        animation: float 3.5s ease-in-out infinite;
        width: 300px;
        height: 70vh;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 30px;
        transition: 0.5s;
        color: #fff;
        -webkit-box-reflect: below 15px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.2));

        // &:hover {
        //     transform: translateY(-20px);
        // }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(45deg, #ffbc00, #ff0058);
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(45deg, #ffbc00, #ff0058);
            filter: blur(30px)
        }

        &.blur1 {
            animation-delay: calc(-1s * 2);
        }

        &.blur1::after,
        &.blur1::before {
            background: linear-gradient(315deg, #03a4f9, #ff0058);
        }

        &.blur2::after,
        &.blur2::before {
            background: linear-gradient(315deg, #4dff03, #00d0ff);
        }

        .span {
            position: absolute;
            top: 6px;
            left: 6px;
            right: 6px;
            bottom: 6px;
            background: rgba(0, 0, 0, 0.6);
            z-index: 2;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                background: rgba(255, 255, 255, 0.1);
            }
        }

        .content {
            position: relative;
            z-index: 10;
            display: flex;
            padding: 0 40px;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            h2 {
                font-size: 2em;
                color: #fff;
                margin-bottom: 10px;
            }

            p {
                font-size: 1.1em;
                color: #fff;
                margin-bottom: 10px;
                line-height: 1.4em;
            }

            a {
                position: relative;
                background: #444;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.5em;
                letter-spacing: 0.1em;
                padding: 10px 20px;
                transition: 0.5s;

                &:hover {
                    letter-spacing: 0.25em;
                    background: var(--clr);
                    color: var(--clr);
                    box-shadow: 0 0 35px var(--clr);
                }

                &::before {
                    content: '';
                    position: absolute;
                    inset: 2px;
                    background: #27282c;
                }

                span {
                    position: relative;
                    z-index: 1;
                }

                i {
                    position: absolute;
                    inset: 0;
                    display: block;

                    &::before {
                        content: '';
                        position: absolute;
                        top: -3.5px;
                        left: 80%;
                        width: 10px;
                        height: 5px;
                        border: 2px solid var(--clr);
                        background: #27282c;
                        transition: 0.5s;
                        transform: translateX(-50%);
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -3.5px;
                        left: 20%;
                        width: 10px;
                        height: 5px;
                        border: 2px solid var(--clr);
                        background: #27282c;
                        transition: 0.5s;
                        transform: translateX(-50%);
                    }
                }

                &:hover>i::before {
                    width: 20px;
                    left: 20%;
                }

                &:hover>i::after {
                    width: 20px;
                    left: 80%;
                }
            }
        }
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}