.link,
.link_active {
    // flex-shrink: 0;

    text-decoration: none;
    font-family: 'Ailerons';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    border-radius: 20px;
    padding: 6px 15px;
    font-family: "Ailerons";
    text-align: center;
    // line-height: 24px;
    /* identical to box height, or 150% */


    color: #094b65;

    &:hover {
        background-color: #094b65;
        color: #fff;
    }
}

.link_active {
    background-color: #094b65;
    color: #fff;
}