.link {
    // flex-shrink: 0;

    text-decoration: none;
    font-family: 'Ailerons';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 6px 15px;
    font-family: "Ailerons";
    text-align: center;
    color: rgb(224, 13, 189);
    transition: all .5s ease-in-out;

    &:hover {
        background-color: black;
        color: #fff;
    }
}

.btn {
    color: #fff;
    border-radius: 5px;
    background-color: rgb(224, 13, 189);
}

.DrawerContainer {
    a {
        position: relative;
        background: #444;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5em;
        letter-spacing: 0.1em;
        padding: 10px 20px;
        font-weight: 400;
        transition: 0.5s;

        &:hover {
            letter-spacing: 0.25em;
            background: var(--clr);
            color: var(--clr);
            box-shadow: 0 0 35px var(--clr);
        }

        &::before {
            content: '';
            position: absolute;
            inset: 2px;
            background: #27282c;
        }

        span {
            position: relative;
            z-index: 1;
        }

        i {
            position: absolute;
            inset: 0;
            display: block;

            &::before {
                content: '';
                position: absolute;
                top: -6px;
                left: 100%;
                transform: translateX(-50%);
                width: 10px;
                height: 10px;
                border: 2px solid var(--clr);
                background: #27282c;
                transition: 0.5s;
                transform: translateX(-50%);
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -6px;
                left: 0%;
                transform: translateX(-50%);
                width: 10px;
                height: 10px;
                border: 2px solid var(--clr);
                background: #27282c;
                transition: 0.5s;
                transform: translateX(-50%);
            }
        }

        &:hover>i::before {
            left: 0%;
            transform: translateX(-50%) rotate(45deg);
            box-shadow: 35px 35px var(--clr);
        }

        &:hover>i::after {
            left: 100%;
            transform: translateX(-50%) rotate(-45deg);
            box-shadow: 35px -35px var(--clr);
        }
    }
}