.aboutme-container {
    position: relative;
    padding: 100px;
    background-color: #094b65;
    height: 100vh;

    h2 {
        font-size: 3.5em;
        color: #fff;
        margin-bottom: 10px;
    }

    p {
        font-size: 1em;
        color: #fff;
    }
}